@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lexend+Exa:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainDark: '#05030C';
  --mainLight: '#FFF';
  --primary: '#5526FF';
  --secondaryDark: '#180757';
  --secondaryLight: '#BCC5FF';
}

body {
  background-color: #05030c;
  font-family: 'Instrument Sans', 'sans-serif';
  color: var(--mainLight);
}

main {
  min-height: calc(100vh - 50px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Exa', 'sans-serif';
}

header {
  padding: 3px 0;
  height: 50px;
  position: fixed;
  width: 100%;
  justify-content: center;
  display: flex;

  & ul {
    display: flex;
    list-style-type: none;
    gap: 1.8rem;
    height: fit-content;
    align-items: center;
  }

  & a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
  }
}
