.gradle
.idea
local.properties
img
node_modules
Embedded/RaspberryPI/pictures/
build
.vscode/
.DS_Store
deploymentTargetSelector.xml

# Python
__pycache__/
*.py[cod]
*.swp
lgd-nfy0*

# Virtuella miljöer
.venv/
env/
venv/

# VS Code
.vscode/

# Operativsystemfiler

Thumbs.db

# Distributionsfiler
*.egg-info/
build/
dist/

